.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: linear-gradient(180deg, #020617, #020617dd);
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-soft);
}

.navbar h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 22px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: var(--text-muted);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: var(--transition);
}

.navbar a:hover {
  color: white;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: var(--transition);
}

.navbar a:hover::after {
  width: 100%;
}
